.form_div{
    margin-left: 3rem;
}
.input_div{
    transition: .5s ease;
    padding-bottom: 10px;
}
.input_div:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    box-shadow: 0 0 10px 1px #343A40;
    border-radius: 10px;
    border-width: 2px;
    background-color: #E9ECEF;
    transform: scale(1.05);
    transition: 1s ease;
}
.nested_input_div{
    padding-left: 20px;
}
.user_img_div>img{
    margin-right: 20px!important;
    width: 200px!important;
    height: 200px!important;
}
.save_btn{
    width: 20%;
    margin: auto;
}
.save_btn>button{
    width: 50%;
    height: 50px;
    border-radius: 10px;
}
